<div>
    <h2 class="heading">Create Books</h2>
    <form class="formPanel">
        <div class="formElement">
            <label for="title">Title</label>
            <input class="input-field" name="title" type="text">
        </div>
        <div class="formElement">
            <label for="category">Category</label>
            <input class="input-field" name="category" type="text">
        </div>
        <div class="formElement">
            <label for="image">Image</label>
            <input class="input-field" name="image" type="text">
        </div>
        <div class="formElement">
            <label for="price">Price</label>
            <input class="input-field" name="price" type="text">
        </div>
        <div class="formElement">
            <label for="publisher">Publisher</label>
            <input class="input-field" name="publisher" type="text">
        </div>
        <div class="formElement">
            <label for="active">Active</label>
            <input class="input-field" name="active" type="text">
        </div>
        <div class="formElement">
            <label for="content">Content</label>
            <textarea class="input-field" name="content" rows="4"></textarea>   
        </div>

        <button class="input-field" style="margin-top: 20px;">Save</button>
    </form>

    <a type="button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Search Page</a>
</div>